---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div class="row">
      <div class="col">
        {{ page.introduction | escape }}
      </div>
    </div>

    <div class="row mt-5 no-padding">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Intensive</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 mt-md-0 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Extensive</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 mt-md-5 mt-lg-0 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exam Prep</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 mt-md-5 mt-lg-0 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">EAP</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Skills Focus</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Groups</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">One-to-one</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>

      <div class="mt-5 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ESP incl Business</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        {{ content }}
      </div>
    </div>
  </div>
</article>
